<connectionStrings>
  <add name="DefaultConnection" 
       connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApp-20210507072527.mdf;Initial Catalog=aspnet-WebApp-20210507072527;Integrated Security=True" 
       providerName="System.Data.SqlClient" />
  <add name="ChinookDB"
      connectionString="Data Source=.;Initial Catalog=Chinook; Integrated Security=true"
      providerName="System.Data.SqlClient"/>
</connectionStrings>