<appSettings>
  <add key="startupRoles" value="Administrator;Customer;Manager;Sale;ITStaff;Service" />
  <add key="adminUserName" value="Webmaster" />
  <add key="adminEmail" value="Webmaster@Chinook.nait.ca" />
  <add key="adminPassword" value="Pa$$w0rd" />
  <add key="adminRole" value="Administrator" />
  <add key="emp1UserName" value="NEdwards" />
  <add key="emp1Email" value="NEdwards@Chinook.nait.ca" />
  <add key="thePassword" value="123456" />
  <add key="customerRole" value="Customer" />
  <add key="managerRole" value="Manager" />
  <add key="saleRole" value="Sale" />
</appSettings>
