<connectionStrings>
  <add name="DefaultConnection" 
       connectionString="Data Source=.;Initial Catalog=Chinook;Integrated Security=True" 
       providerName="System.Data.SqlClient" />
  <add name="ChinookDB"
      connectionString="Data Source=.;Initial Catalog=Chinook; Integrated Security=true"
      providerName="System.Data.SqlClient"/>
</connectionStrings>